<!-- Login Page -->
<div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow">
                <div class="card-body">
                    <h3 class="text-center text-dark mb-4">Login / Sign Up</h3>
                    <form (ngSubmit)="login(myForm)" #myForm="ngForm">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email Address</label>
                            <input type="text" class="form-control" id="email"  [class.is-invalid]="!user.email && isValidated" [(ngModel)]="user.email" name="email" required>
                            <div *ngIf="!user.email && isValidated" class="invalid-feedback">
                                The email or mobile number you entered isn’t connected to an account. 
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" [class.is-invalid]="!user.password && isValidated" [(ngModel)]="user.password" name="password" required>
                            <div *ngIf="!user.password && isValidated" class="invalid-feedback">
                                The password you’ve entered is incorrect. Forgot Password?
                            </div>
                        </div>
                        <div class="mb-3 d-flex justify-content-between">
                            <a href="#"  class="text-decoration-none text-secondary" data-bs-toggle="modal" data-bs-target="#myModal" >Forgot your password?</a>
                        </div>
                        <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
                        <div class="d-grid mb-2">
                            <button type="submit" class="btn btn-success">LOGIN</button>
                        </div>
                        <div class="text-center">
                            <span>OR</span>
                        </div>      
                        <div class="d-grid mt-2 mb-3">
                            <a  [routerLink]="'/signup'" class="btn btn-secondary">SIGN UP</a>
                        </div>
                    </form>
                    <div class="mt-3 text-center">
                        <a [routerLink]="'/termsandconditions'" class="text-decoration-none text-secondary">Terms & Conditions</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h5 class="modal-title">Reset Password</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            Please enter your account email address.
            <br> Instructions on how to Reset your Password will be sent to this address.
            <br>
            <br>
            <form (ngSubmit)="resetPassword(myForm)" #myForm="ngForm">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email Address</label>
                            <input type="email" class="form-control" id="emailmodal" [class.is-invalid]="!user.email && isValidated" [(ngModel)]="user.email" name="email" required>
                        </div>
                       
                        <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
                       
               </form>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer  justify-content-center">
            <div class="d-grid mb-2">
                <button type="submit" class="btn btn-success btn-lg">RESET PASSWORD</button>
            </div>
        </div>
  
      </div>
    </div>
  </div>


